<div class="container__big-card">
    <img src="../../../assets/images/bigCardImage.svg">
    <div class="container__textual-elements">
        <span>January 11, 2022</span>
        <h3>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare quam eget sapien faucibus, in vestibulum ipsum congue. Etiam ante lacus, tempus sed scelerisque ac, cursus ornare tortor. Suspendisse a risus in nisl porta dignissim nec eget tellus. </p>
    </div>
    <hr>
</div>
