.container__menu-title > h1 {
    margin: 0.5% 0;
    font-size: 14em;
    text-align: center;
    font-weight: 700;
}

.container__menu-title > hr {
    opacity: 0.1;
    width: 80%;
    margin-left: 10%;
}

@media screen and (max-width: 769px) {
    .container__menu-title > h1 {
        font-size: 8em;
    }
}

@media screen and (max-width: 481px) {
    .container__menu-title > h1 {
        font-size: 4em;
    }
}