header {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    height: 100px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 70%;
    gap: 5%;
}

li {
    font-size: 12px;
    opacity: 0.5;
    transition: 0.5s;
    font-weight: 400;
}

li:hover {
    opacity: 1;
}

.container__left {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5%;
}

.container__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 5%;
}

.container__right > ul {
    justify-content: flex-end;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(
        34deg, rgba(252,41,166,1)
        0%, rgba(182,3,3,1)
        55%, rgba(255,132,0,1)
        100%);
    display: flex;
    justify-content: center;
    align-items: center;
}



